
{% unless product.available %} 
  
<div class="zooomybis zooomybis-{{product.id}}" data-pro-handle="{{product.handle}}" data-pro-id="{{product.id}}"></div>
  {% endunless %}

<style>
  .zooomybis {
    float: left;
    width: 100%;
    z-index: 999;
    position: relative;
    cursor: pointer;
}
</style>