<!DOCTYPE html>
<html>
  <head>
    {% comment %}
    {{ content_for_header }}
    {% endcomment %}
  </head>
  <body>
    <div id="main" role="main" class="anchor">
      {{ content_for_layout }}
    </div> 
  </body>
</html>